In [1]:
#import time
import pandas as pd

list = []
f = open('MachineData.log')
line = f.readline()

while line:  

    try:

        list.append(line)               

    except ValueError:

        print('Error in line :' + line )

    line = f.readline()

In [2]:
list

['11.03.21 00:31:24 : <Robot_1_SC> Deliver PO: 0234567 (I1234567) by Area:1 to Area: 2\n',
 '11.03.21 00:32:04 : <Robot_1_SC>  PO received\n',
 '11.03.21 00:32:07 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 00:32:07 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 00:32:02 : <Robot_1_Slave> Robot has been started\n',
 '11.03.21 00:32:01 : <Robot_1_ItemFTP> Params deployed to Robot\n',
 '11.03.21 00:32:01 : <Robot_1_Master> Robot has been started\n',
 '11.03.21 00:32:01 : <Robot_1_SC> Deliver PO: 1212201 (I2345672) by Area:10 to Area: 1\n',
 '11.03.21 00:32:53 : <Robot_1_SC>  PO received\n',
 '11.03.21 00:33:00 : <Robot_1_Slave> RFID Check:<Kl> Catcher <1610> Loc:<B>\n',
 '11.03.21 00:33:06 : <Robot_1_Slave> RFID Check:<Kl> Catcher <1610> Loc:<A>\n',
 '11.03.21 00:33:01 : <Robot_1_Master> RFID Check:<Kl> Catcher <1610> Loc:<A>\n',
 '11.03.21 00:33:15 : <Robot_1_Master> RFID Check:<Kl> Catcher <1610> Loc:<B>\n',
 '11.03.21 00:33:23 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<C>\n',
 '11.03.21 00:33:22 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<A>\n',
 '11.03.21 00:33:33 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<A>\n',
 '11.03.21 00:33:34 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<B>\n',
 '11.03.21 00:33:31 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<C>\n',
 '11.03.21 00:33:31 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<D>\n',
 '11.03.21 00:33:44 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<D>\n',
 '11.03.21 00:33:41 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<B>\n',
 '11.03.21 00:33:52 : <Robot_1_Master> <StartProd> Requirement set\n',
 '11.03.21 02:22:24 : <Robot_1_SC> Deliver PO: 1212201 (I2345672) by Area:1 to Area: 10\n',
 '11.03.21 02:23:02 : <Robot_1_SC>  PO received\n',
 '11.03.21 02:23:12 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 02:23:12 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 02:23:13 : <Robot_1_Slave> Robot has been started\n',
 '11.03.21 02:23:14 : <Robot_1_ItemFTP> Params deployed to Robot\n',
 '11.03.21 02:23:14 : <Robot_1_Master> Robot has been started\n',
 '11.03.21 02:23:14 : <Robot_1_SC> Deliver PO: 7654322 (I2345672) by Area:11 to Area: 1\n',
 '11.03.21 02:24:01 : <Robot_1_SC>  PO received\n',
 '11.03.21 02:24:05 : <Robot_1_Slave> RFID Check:<Kl> Catcher <1610> Loc:<B>\n',
 '11.03.21 02:24:11 : <Robot_1_Slave> RFID Check:<Kl> Catcher <1610> Loc:<A>\n',
 '11.03.21 02:24:12 : <Robot_1_Master> RFID Check:<Kl> Catcher <1610> Loc:<A>\n',
 '11.03.21 02:24:11 : <Robot_1_Master> RFID Check:<Kl> Catcher <1610> Loc:<B>\n',
 '11.03.21 02:24:22 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<C>\n',
 '11.03.21 02:24:33 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<A>\n',
 '11.03.21 02:24:37 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<A>\n',
 '11.03.21 02:24:31 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<B>\n',
 '11.03.21 02:24:43 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<C>\n',
 '11.03.21 02:24:44 : <Robot_1_Slave> RFID Check:<Dist> Catcher <4> Loc:<D>\n',
 '11.03.21 02:24:41 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<D>\n',
 '11.03.21 02:24:54 : <Robot_1_Master> RFID Check:<Dist> Catcher <4> Loc:<B>\n',
 '11.03.21 02:24:57 : <Robot_1_Master> <StartProd> Requirement set\n',
 '11.03.21 04:14:01 : <Robot_1_SC> Deliver PO: 1212216 (I2345672) by Area:1 to Area: 11\n',
 '11.03.21 04:14:53 : <Robot_1_SC>  PO received\n',
 '11.03.21 04:14:56 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 04:14:56 : <Robot1_xyz> Files delivered successfully.\n',
 '11.03.21 05:45:35 : <Robot_1_SC> Timeout\n',
 '11.03.21 06:43:00 : <Robot_1_Master> Door open.\n',
 '11.03.21 07:50:01 : <Area_Robot_1> User HansKrautMann logged.\n',
 '11.03.21 07:50:07 : <Robot_1_Master> Safety Off\n',
 '11.03.21 07:57:25 : <Robot_1_Master> Robot has been started\n',
 '11.03.21 07:57:21 : <Robot_1_Slave> Robot has been started\n',
 '11.03.21 07:57:42 : <Robot_1_LoadRezeptData> New Scan\n',
 '11.03.21 07:52:01 : <Robot_1_LoadRezeptData> Receiver confirmed.\n',
 '11.03.21 07:52:01 : <Robot_1_LoadRezeptData> Cancel.\n',
 '11.03.21 07:52:40 : <Robot_1_LoadRezeptData> Cancel confirmed.\n',
 '11.03.21 07:52:40 : <Robot_1_SC> Deliver PO: 1233211 (I2345672) by Area:1 to Area: 0\n',
 '11.03.21 07:51:07 : <Robot_1_SC>  PO received\n',
 '11.03.21 07:51:25 : <Robot_1_LoadRezeptData> Receiver confirmed\n',
 '11.03.21 07:51:41 : <Robot_1_LoadRezeptData> New Scan\n',
 '11.03.21 07:51:53 : <Robot_1_LoadRezeptData> User okay confirmed received.\n',
 '11.03.21 07:51:53 : <Robot_1_LoadRezeptData> Start expiring.\n',
 '11.03.21 02:00:03 : <Robot_1_LoadRezeptData> Expiration confirmed.\n',
 '11.03.21 02:00:03 : <Robot_1_SC> Deliver PO: 1212121 (I2345672) by Area:2 to Area: 0\n']

In [3]:
df = pd.DataFrame([sub.split(" : ") for sub in list])
df.columns = ['DateAndTime', 'Description']
df.head()

         DateAndTime                                        Description
0  11.03.21 00:31:24  <Robot_1_SC> Deliver PO: 0234567 (I1234567) by...
1  11.03.21 00:32:04                        <Robot_1_SC>  PO received\n
2  11.03.21 00:32:07       <Robot1_xyz> Files delivered successfully.\n
3  11.03.21 00:32:07       <Robot1_xyz> Files delivered successfully.\n
4  11.03.21 00:32:02           <Robot_1_Slave> Robot has been started\n

In [4]:
DateTimeSplit = df["DateAndTime"].str.split(" ", n = 1, expand = True)

In [5]:
df["DT"]= DateTimeSplit[0]
df["Time"]= DateTimeSplit[0]
df.head()

,DateAndTime,Description,DT,Time
0,11.03.21 00:31:24,<Robot_1_SC> Deliver PO: 0234567 (I1234567) by...,11.03.21,11.03.21
1,11.03.21 00:32:04,<Robot_1_SC> PO received\n,11.03.21,11.03.21
2,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,11.03.21,11.03.21
3,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,11.03.21,11.03.21
4,11.03.21 00:32:02,<Robot_1_Slave> Robot has been started\n,11.03.21,11.03.21

In [6]:
df['Details']=df.Description.str.extract('\<(.*)\>')

In [7]:
new = df["Description"].str.split(">", n = 1, expand = True)
df["RobotDetails"]= new[1]
df.head()

,DateAndTime,Description,DT,Time,Details,RobotDetails
0,11.03.21 00:31:24,<Robot_1_SC> Deliver PO: 0234567 (I1234567) by...,11.03.21,11.03.21,Robot_1_SC,Deliver PO: 0234567 (I1234567) by Area:1 to A...
1,11.03.21 00:32:04,<Robot_1_SC> PO received\n,11.03.21,11.03.21,Robot_1_SC,PO received\n
2,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,11.03.21,11.03.21,Robot1_xyz,Files delivered successfully.\n
3,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,11.03.21,11.03.21,Robot1_xyz,Files delivered successfully.\n
4,11.03.21 00:32:02,<Robot_1_Slave> Robot has been started\n,11.03.21,11.03.21,Robot_1_Slave,Robot has been started\n

In [8]:
df['Date'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.strftime('%m.%d.%Y')
df['Day'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.strftime('%d')
df['Month'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.strftime('%m')
df['Year'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.strftime('%Y')
df['Time'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.time
df['CW'] = pd.to_datetime(df['DateAndTime'], dayfirst=True).dt.strftime('%W')
df['DT'] = pd.to_datetime(df['DateAndTime'])
df.head()

,DateAndTime,Description,DT,Time,Details,RobotDetails,Date,Day,Month,Year,CW
0,11.03.21 00:31:24,<Robot_1_SC> Deliver PO: 0234567 (I1234567) by...,2021-11-03 00:31:24,00:31:24,Robot_1_SC,Deliver PO: 0234567 (I1234567) by Area:1 to A...,03.11.2021,11,03,2021,10
1,11.03.21 00:32:04,<Robot_1_SC> PO received\n,2021-11-03 00:32:04,00:32:04,Robot_1_SC,PO received\n,03.11.2021,11,03,2021,10
2,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,2021-11-03 00:32:07,00:32:07,Robot1_xyz,Files delivered successfully.\n,03.11.2021,11,03,2021,10
3,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,2021-11-03 00:32:07,00:32:07,Robot1_xyz,Files delivered successfully.\n,03.11.2021,11,03,2021,10
4,11.03.21 00:32:02,<Robot_1_Slave> Robot has been started\n,2021-11-03 00:32:02,00:32:02,Robot_1_Slave,Robot has been started\n,03.11.2021,11,03,2021,10

In [9]:
import re
deliverpo = []
fromlist = []
tolist = []
itemlist = []
polist = []
reg = re.compile('Deliver PO')
#Regular expressions are compiled into pattern objects, which have methods for various operations such as searching for 
#pattern matches or performing string substitutions.

# remember that column RobotDetails looks e.g. like this: Deliver PO: 1212201 (Item I2345672) by area:10 to area: 1
for index, row in df.iterrows():
    
    SearchMe = re.search(reg, row['RobotDetails'])
# each row will be searched for the string Deliver PO
    if SearchMe is not None:
        # When found Deliver PO in one row, then take the number out of the 3rd split in between the : separated column RobotDetails
        # that number is eihter a 1 followed by 0 or 1 or 2, or it is just one number between 0-9
        # for the first line in our log file example this would be 9 as
        by = re.findall('1[012]|[0-9]', re.split('[:]', row['RobotDetails'])[2]).pop()
        # When found Deliver PO in one row, then take the number out of the 4th split in between the : separated column RobotDetails
        # that number is eihter a 1 followed by 0 or 1 or 2, or it is just one number between 0-9
        to = re.findall('1[012]|[0-9]', re.split('[:]', row['RobotDetails'])[3]).pop()
        # to get the order number, 
        # \d matches any decimal digit; this is equivalent to the class [0-9]. So within RobotDetails we are just looking for an order number the size of 7 digits
        order = re.findall('\d{7}', row['RobotDetails']).pop(0)
        # \d matches any decimal digit; this is equivalent to the class [0-9]. So within RobotDetails we are just looking for an item number the size of 6 digits and pop it out second (1) as series
        item = re.findall('\d{6}', row['RobotDetails']).pop(1)
        
        fromlist.append(by)
        tolist.append(to)
        print(order, item)
        itemlist.append('I'+item)
        polist.append(order)
        
    else:
        fromlist.append(None)
        tolist.append(None)
        itemlist.append(None)
        polist.append(None)
    deliverpo.append(SearchMe)    


df['FromPosition'] = fromlist
df['ToPosition'] = tolist
df['ProductionOrder'] = polist
df['Item'] = itemlist

0234567 123456
1212201 234567
1212201 234567
7654322 234567
1212216 234567
1233211 234567
1212121 234567

In [10]:
from datetime import datetime, timedelta 
deltaT = []
#start time
t1 = None
#end time
t2 = None

# must be instantiated with 1 as a  starting point
toggle = 1

FromBucket = None
ToBucket = None


for index, row in df.iterrows():
    by = row['FromPosition'] 
    to = row['ToPosition']
    # not equal 0 is written like that: != '0'
    if by is not None and to is not None and by != '0' and to != '0':
        
        if toggle: 
            #Toggle: Fill in values for the first time
            t1 = row['DT']
            FromBucket = by
            ToBucket = to
            toggle = 0
            deltaT.append(None)
            
        else:
            # Check if first order has been closed (forth and back)
            # That's the interesting part: we only want to calculate the put trough time if one order has been closed successfully
            # So while in the loop we are checking for matching "to" and "from" orders and only calculate the time difference for those
            if FromBucket == to and ToBucket == by:
                # if yes, then take End time and calculate time difference
                t2 = row['DT']
                timedelta = t2-t1
                deltaT.append(timedelta)
                
            else: 
                # if not, fill in error with current value
                t1 = row['DT']
                FromBucket = by
                ToBucket = to
                deltaT.append(None)
        print(timedelta)
    else: 
        deltaT.append(None)
        
df['deltaT'] = deltaT

<class 'datetime.timedelta'>
<class 'datetime.timedelta'>
0 days 01:50:23
0 days 01:50:23
0 days 01:50:47

In [11]:
polist

['0234567',
 None,
 None,
 None,
 None,
 None,
 None,
 '1212201',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1212201',
 None,
 None,
 None,
 None,
 None,
 None,
 '7654322',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1212216',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1233211',
 None,
 None,
 None,
 None,
 None,
 None,
 '1212121']

In [12]:
df.head(5)

,DateAndTime,Description,DT,Time,Details,RobotDetails,Date,Day,Month,Year,CW,FromPosition,ToPosition,ProductionOrder,Item,deltaT
0,11.03.21 00:31:24,<Robot_1_SC> Deliver PO: 0234567 (I1234567) by...,2021-11-03 00:31:24,00:31:24,Robot_1_SC,Deliver PO: 0234567 (I1234567) by Area:1 to A...,03.11.2021,11,03,2021,10,1,2,0234567,I123456,NaT
1,11.03.21 00:32:04,<Robot_1_SC> PO received\n,2021-11-03 00:32:04,00:32:04,Robot_1_SC,PO received\n,03.11.2021,11,03,2021,10,None,None,None,None,NaT
2,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,2021-11-03 00:32:07,00:32:07,Robot1_xyz,Files delivered successfully.\n,03.11.2021,11,03,2021,10,None,None,None,None,NaT
3,11.03.21 00:32:07,<Robot1_xyz> Files delivered successfully.\n,2021-11-03 00:32:07,00:32:07,Robot1_xyz,Files delivered successfully.\n,03.11.2021,11,03,2021,10,None,None,None,None,NaT
4,11.03.21 00:32:02,<Robot_1_Slave> Robot has been started\n,2021-11-03 00:32:02,00:32:02,Robot_1_Slave,Robot has been started\n,03.11.2021,11,03,2021,10,None,None,None,None,NaT

In [13]:
# Export your dataframe to Excel
df.to_excel('logexport.xlsx')